<div class="container my-3">
<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form #afiliadoForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2" >Nombre:</label>
                <div class="col-sm-6" >
                    <input type="text" class="form-control" maxlength="20" minlength="4" required name="nombre" [(ngModel)]="afiliado.nombre" required #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre debe tener al menos cuatro caracteres
                        </div>
                        <div *ngIf="nombre.errors.maxlength">
                            Nombre debe tener como maximo veinte caracteres
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2" >Apellido:</label>
                <div class="col-sm-6" >
                    <input type="text" class="form-control" maxlength="20" minlength="4" name="apellido" [(ngModel)]="afiliado.apellido" required #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">
                            Apellido es requerido
                        </div>
                        <div *ngIf="apellido.errors.minlength">
                            Apellido debe tener al menos cuatro caracteres
                        </div>
                        <div *ngIf="apellido.errors.maxlength">
                            Apellido debe tener como maximo veinte caracteres
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2" >Email:</label>
                <div class="col-sm-6" >
                    <input type="text" class="form-control"  name="email" [(ngModel)]="afiliado.email" required #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            Email es requerido
                        </div>
                        <div *ngIf="email.errors.email">
                            Debe introducir un email valido
                        </div>
                        
                    </div>
                </div>
            </div><br>
            <div class="form-group row">
                <div class="col-sm-6" >
                    <button class="btn btn-primary espacio-horizontal" role="button" (click)="create()" *ngIf="!afiliado.id else elseBlock" [disabled]="!afiliadoForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!afiliadoForm.form.valid">Actualizar</button>
                    </ng-template>
                    <button class="btn btn-primary espacio-horizontal" (click)="cerrar()" role="button">Cerrar</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>

